# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
	user = Justin Bass
    email = justin.bass@viasat.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[merge]
	tool = vimdiff
[user]
	name = Justin Bass
	email = justinalanbass@gmail.com
